.Encabezado{
    border-top: 1px solid #121212;
    
    
    
}

.Encabezado-Titulo{
    color: #121212;
    font-size: 32px;
    padding-top: 36px;
    
}

.Encabezado-Parrafo{
    color: #5B6776;
    font-size: 14px;
    padding-bottom: 36px;
}

.Card-Puntos{
    cursor: pointer;
}

.Card-Puntos:hover{
    background-color: #E2E8F0;
}